<div class="container pt-3">
  <div class="row">
    <% @baskets.each do |basket| %>
      <div class="col-md-12 col-sm-12 col-xl-6">
        <div class="basket-card">
          <div class="wrapper">
            <div class="product-img">
              <img src="https://media02.stockfood.com/largepreviews/MzgxODE3MDQ5/12316679-Fresh-vegetables-in-basket-on-wooden-background.jpg" height="321" width="250">
            </div>
            <div class="product-info">
              <div class="product-text">
                <h1>Harvest Basket</h1>
                <h2>by <%= User.find(basket.user_id).email.split('@').first %></h2>
                <p><%=basket.description%> </p>
              </div>
              <div class="price-flex">
                <p><%= basket.price %> R$</p>
                <div class="product-price-btn">
                  <button type="button">buy now</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <%end%>
  </div>
</div>
