<div class="container pt-3">
  <div class="row">
    <div class="col">
      <div class="basket-card">
        <div class="wrapper">
          <div class="product-img">
            <img src="https://media02.stockfood.com/largepreviews/MzgxODE3MDQ5/12316679-Fresh-vegetables-in-basket-on-wooden-background.jpg" height="321" width="250">
          </div>
          <div class="product-info">
            <div class="product-text">
              <h1>Harvest Basket</h1>
              <h2>by Example Market</h2>
              <p>Harvest Basket contains a variety<br> of fresh fruits and vegetables. All<br> products are hand picked by local<br> farmers and do not contain<br> agrotoxins or conservatives. </p>
            </div>
            <div class="product-price-btn">
              <p><span>7</span> R$</p>
              <button type="button">buy now</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="basket-card">
        <div class="wrapper">
          <div class="product-img">
            <img src="https://media02.stockfood.com/largepreviews/MzgxODE3MDQ5/12316679-Fresh-vegetables-in-basket-on-wooden-background.jpg" height="321" width="250">
          </div>
          <div class="product-info">
            <div class="product-text">
              <h1>Harvest Basket</h1>
              <h2>by Example Market</h2>
              <p>Harvest Basket contains a variety<br> of fresh fruits and vegetables. All<br> products are hand picked by local<br> farmers and do not contain<br> agrotoxins or conservatives. </p>
            </div>
            <div class="product-price-btn">
              <p><span>7</span> R$</p>
              <button type="button">buy now</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="basket-card">
        <div class="wrapper">
          <div class="product-img">
            <img src="https://media02.stockfood.com/largepreviews/MzgxODE3MDQ5/12316679-Fresh-vegetables-in-basket-on-wooden-background.jpg" height="321" width="250">
          </div>
          <div class="product-info">
            <div class="product-text">
              <h1>Harvest Basket</h1>
              <h2>by Example Market</h2>
              <p>Harvest Basket contains a variety<br> of fresh fruits and vegetables. All<br> products are hand picked by local<br> farmers and do not contain<br> agrotoxins or conservatives. </p>
            </div>
            <div class="product-price-btn">
              <p><span>7</span> R$</p>
              <button type="button">buy now</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="basket-card">
        <div class="wrapper">
          <div class="product-img">
            <img src="https://media02.stockfood.com/largepreviews/MzgxODE3MDQ5/12316679-Fresh-vegetables-in-basket-on-wooden-background.jpg" height="321" width="250">
          </div>
          <div class="product-info">
            <div class="product-text">
              <h1>Harvest Basket</h1>
              <h2>by Example Market</h2>
              <p>Harvest Basket contains a variety<br> of fresh fruits and vegetables. All<br> products are hand picked by local<br> farmers and do not contain<br> agrotoxins or conservatives. </p>
            </div>
            <div class="product-price-btn">
              <p><span>7</span> R$</p>
              <button type="button">buy now</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="basket-card">
        <div class="wrapper">
          <div class="product-img">
            <img src="https://media02.stockfood.com/largepreviews/MzgxODE3MDQ5/12316679-Fresh-vegetables-in-basket-on-wooden-background.jpg" height="321" width="250">
          </div>
          <div class="product-info">
            <div class="product-text">
              <h1>Harvest Basket</h1>
              <h2>by Example Market</h2>
              <p>Harvest Basket contains a variety<br> of fresh fruits and vegetables. All<br> products are hand picked by local<br> farmers and do not contain<br> agrotoxins or conservatives. </p>
            </div>
            <div class="product-price-btn">
              <p><span>7</span> R$</p>
              <button type="button">buy now</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="basket-card">
        <div class="wrapper">
          <div class="product-img">
            <img src="https://media02.stockfood.com/largepreviews/MzgxODE3MDQ5/12316679-Fresh-vegetables-in-basket-on-wooden-background.jpg" height="321" width="250">
          </div>
          <div class="product-info">
            <div class="product-text">
              <h1>Harvest Basket</h1>
              <h2>by Example Market</h2>
              <p>Harvest Basket contains a variety<br> of fresh fruits and vegetables. All<br> products are hand picked by local<br> farmers and do not contain<br> agrotoxins or conservatives. </p>
            </div>
            <div class="product-price-btn">
              <p><span>7</span> R$</p>
              <button type="button">buy now</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
