// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #F9BE82;
$green: #255E29;
$light-green: #ABEE59;
$gray: #010101;
$pink: #F49B9D;
$light-gray: #F4F4F4;
$less-gray: #dfdfdf;
