.card-basket {
  overflow: hidden;
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 3.0px );
  -webkit-backdrop-filter: blur( 3.0px );
  border-radius: 10px;
  transition: 0.5s ease-out;
}

.card-basket:hover {
  overflow: hidden;
  background: rgba( 255, 255, 255, 0.70 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 3.0px );
  -webkit-backdrop-filter: blur( 3.0px );
  border-radius: 10px;
  transition: 0.5s ease;
}

.card-basket > img {
  height: 250px;
  width: 100%;
  object-fit: cover;

}

.card-basket h2 {
  color: $green;
  font-size: 16px;
  font-weight: bold;
  opacity: .9;
  margin: 0;
}

.card-basket p {
  color: $green;
  font-size: 14px;
  font-weight: bold;
  opacity: .9;
  margin: 0;
}


.card-basket .card-basket-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-basket-infos .card-basket-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}


.card-basket-pricing  {
  color: $green;
  font-size: 16px;
}
