// Specific CSS for your home-page

.home {

position: relative;
  p{
  color:$green
}

h1 {
  font-size: 34px;
}

h2{
  color:$green;
  font-weight: bold;
  font-size: 50px;
  margin-top: 117px;
  margin-bottom: -40px;
}

h4{
  color:$green
}

.card img {
  width: 120px;
}

.banner {
  background: linear-gradient(rgba(160, 160, 160, 0.5),rgba(160,160,160, 0.4)), url(https://www.gcfb.org/wp-content/uploads/2019/04/hero-veggies-1.jpg);
  filter: saturate(120%);
  color:white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 450px;
  background-size: cover;
}

.banner-text {
    // background: rgba(50, 50, 50, 0.8);
    border-radius: 5px;
    // filter: blur(4px);
    position: absolute;
    top: 150px;


  }
  h1 {
    color: $light-gray;
    font-size:38px;
  }
  p {
    font-size: 36px;
    color: $less-gray;
    margin: 5px 20px;
  }

.btn-home {
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
}

 button {
  height: 45px;
  width: 135px;
  text-align: center;
  box-sizing: border-box;
  border: transparent;
  border-radius: 60px;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: $light-gray;
  background-color: $green;
  cursor: pointer;
  outline: none;
}

 button:hover {
  background-color: $light-green;
  color: $green;
  transition: 0.5s;

}
}
