// Specific CSS for your home-page

p{
  color:$green
}

h1{
  color:$green

}

h2{
  color:$green
}

h4{
  color:$green

}

.card img {
  width: 120px;
}

.banner {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url(https://images.unsplash.com/photo-1471248026681-35a45d5530a3?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=759&q=80) left center/cover no-repeat padding-box;
  filter: saturate(200%);
  color:white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 450px;
  background-size: cover;
  h1 {
    color: $light-gray;
    font-size:45px;
  }
  p {
    font-size: 30px;
  }
}
