.dashboard-container {
  margin: 30px;
  p {
    margin-bottom: 8px;
  }

  .orders-flex-box {
    display: flex;
    flex-wrap: wrap;
    // align-items: left;
    // justify-content: center;
  }


  .orders-card {
    width: 200px;
    background-color: $light-gray;
    margin: 20px 20px 20px 0px;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 3.0px );
    -webkit-backdrop-filter: blur( 3.0px );
    border-radius: 10px;
    transition: 0.5s ease-out;
  }



  .basket-card {
    min-width: 200px;
    background-color: $light-gray;
    margin: 20px 20px 20px 0px;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 3.0px );
    -webkit-backdrop-filter: blur( 3.0px );
    border-radius: 10px;
    transition: 0.5s ease-out;
  }


  .card-content {
    padding: 20px;
    button {
      display: block ;
      text-align: center;
      margin: 0 auto;
      width: 65;
    }
  }





  .orders {
    margin-top: 30px;
  }

  .baskets {
    margin-top: 30px;
  }

  .basket-orders-card {
    border-bottom: 1px solid rgba( 0, 0, 0, 0.25 );
    margin-top: 10px;
    a{
      margin-bottom: 8px;
    }
  }



}

#add-basket-button {
      display: block ;
      text-align: center;
      margin: 0 auto;
      width: 900;
}

.btngui {
  height: 38px;
  width: 135px;
  box-sizing: border-box;
  border: transparent;
  border-radius: 60px;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: $light-gray;
  background-color: $green;
  cursor: pointer;
  outline: none;
}

h1 {
  color:$green;
  font-weight: bold;

}



h2 {
  color:$green;
  font-weight: bold;
}


p {
  color:$green;
  font-size: 20px;
}
