.orders-flex-box {
  display: flex;
  // align-items: left;
  // justify-content: center;
}


.orders-card {
  width: 200px;
  background-color: $light-gray;
  margin: 20px;
}



.basket-card {
  width: 200px;
  background-color: $light-gray;
  margin: 20px;
}
