<div class="container">
  <div class="card">
    <div class="face face1">
     <div class="content"></div>
      <img src="https://lojabegreen.vtexassets.com/assets/vtex/assets-builder/lojabegreen.begreen-theme/1.2.9/img/como-funciona1___027b5114d813977d9524576574901486.svg">
     </div>

    </div>
  </div>
</div>
