<div class="container">
        <div class="card-basket my-4 rounded-3">
          <img src="https://images.unsplash.com/photo-1488459716781-31db52582fe9?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80">
          <div class="card-basket-infos">
            <div>
              <h2>Legumes</h2>
              <p>Legumes feinhos, mas deliciosos!</p>
            </div>
            <h2 class="card-basket-pricing">R$7,99</h2>
          </div>
        </div>

        <div class="card-basket my-4 rounded-3">
          <img src="https://images.unsplash.com/photo-1519097000072-e44ffa116485?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=750&q=80">
          <div class="card-basket-infos">
            <div>
              <h2>Frutas</h2>
              <p>Frutas feinhas, mas deliciosas!</p>
            </div>
            <h2 class="card-basket-pricing">R$7,99</h2>
          </div>
        </div>

        <div class="card-basket my-4 rounded-3">
          <img src="https://images.unsplash.com/photo-1542990253-a781e04c0082?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=684&q=80">
          <div class="card-basket-infos">
            <div>
              <h2>Grãos</h2>
              <p>Energia rápida!</p>
            </div>
            <h2 class="card-basket-pricing">R$7,99</h2>
          </div>
        </div>

        <div class="card-basket my-4 rounded-3">
          <img src="https://images.unsplash.com/photo-1516706332927-bb3a20d62514?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=750&q=80">
          <div class="card-basket-infos">
            <div>
              <h2>Proteínas</h2>
              <p>Depois da academia seu estomago não se importa!</p>
            </div>
            <h2 class="card-basket-pricing">R$7,99</h2>
          </div>
        </div>
</div>
