<div class="home">
  <div class="banner">
  </div>
  <div class="container">
    <div class="banner-text">
      <p>
        <span class= "text-center" id="banner-typed-text"></span>
      </p>
    </div>
  </div>
   <h2 class="text-center">How it works</h2>
  <div class="card-form">
    <div class="container-home">
      <div class="card">
        <div class="face face1">
          <div class="content">
            <img src="https://lojabegreen.vtexassets.com/assets/vtex/assets-builder/lojabegreen.begreen-theme/1.2.9/img/como-funciona1___027b5114d813977d9524576574901486.svg">
            <h3>It's 6 p.m and you are hungry</h3>
          </div>
        </div>
        <div class="face face2">
          <div class="content">
            <p></p>
            <a href="#">Enter green basket</a>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="face face1">
          <div class="content">
            <img src="https://lojabegreen.vtexassets.com/assets/vtex/assets-builder/lojabegreen.begreen-theme/1.2.9/img/como-funciona2___aeed873d64674bc10be267e14cfd064d.svg">
            <h3>Browse what kind of food you want</h3>
          </div>
        </div>
        <div class="face face2">
          <div class="content">

            <a href="#">Pick any basket</a>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="face face1">
          <div class="content">
            <img src="https://lojabegreen.vtexassets.com/assets/vtex/assets-builder/lojabegreen.begreen-theme/1.2.9/img/como-funciona3___dac61f143a5f28d3d4149dc3a145e43e.svg">
            <h3>Good to go, checkout!</h3>
          </div>
        </div>
        <div class="face face2">
          <div class="content">
            <a href="#">Swing by the grocery</a>
          </div>
        </div>
      </div>
    </div>
  </div>
<div class="container btn-home">
  <%= link_to new_user_session_path,class: 'navbar__item', :action => 'go' do %>
    <button>Try!</button>
  <% end%>
</div>

    <!--  footer -->
    <div class="tooltips">
      <div class="main center">
        <div class="box center">
          <a href="#" data-text='Facebook'>
            <i class='fab fa-facebook-f fa-2x'></i>
          </a>
          <a href="#" data-text='Github'>
            <i class='fab fa-github fa-2x'></i>
          </a>
          <a href="#" data-text='Twitter'>
            <i class='fab fa-twitter fa-2x'></i>
          </a>
          <a href="#" data-text='Instagram'>
            <i class='fab fa-instagram fa-2x'></i>
          </a>
        </div>
      </div>
    </div>
</div>
