.card-form {
  margin: 0;
  padding: 0;
  min-height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .container-home {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    // margin-left: 200px;
    // margin-top: -250px;

    .card {
      position: relative;
      cursor: pointer;
      background: none;
      border: none;
      box-shadow: none;
      width: fit-content;

      .face {
        width: 300px;
        height: 200px;
        transition: 0.5s;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
      }

      .face.face1 {
        position: relative;
        background: $green;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
        transform: translateY(100px);

        .content {
          opacity: 0.4;
          transform: 0.5s;

          img {
            width: 100px;
            height: 100px;
          }

          h3 {

            margin: 10px 10px 0;
            padding: 0;
            color: white;
            text-shadow: blanchedalmond;
            text-align: center;
            font-size: 1.4em;
          }
        }
      }

      .face.face2 {
        position: relative;
        background: $green;
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        box-shadow: 0 20px 50px rgba($gray, $alpha: 0.8);
        transform: translateY(-100px);

        .content {

          p {
            margin: 0;
            padding: 0;
            color: $orange;
          }

          a {
            margin: 15px 0 0;
            display: inline-block;
            text-decoration: none;
            font-weight: 900;
            color: white;
            padding: 5px;
            border: 1px solid $green;
          }

          a:hover {
            background: $green;
            color: $gray;
          }
        }
      }
    }

    .card:hover {

      .face.face1 {
        background: $orange;
        transform: translateY(0);
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;

        .content {
          opacity: 1;

          h3 {
            color: $green;
          }
        }
      }

      .face.face2 {
        transform: translateY(0);
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }
    }
  }
}
