@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');

 .login {

  .row {
    margin-top: -25px;
  }

  h2 {
    color: #eeedf0;
  }

  h4 {
    font-weight: 600;
    color: $light-gray;
  }

  span {
    padding: 0 20px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    color: $green;
  }

  label {
    color: $light-gray;
  }

 }

 .sign {

  h2 {
    color: $gray;
  }

  h4 {
    font-weight: 600;
    color: $green;
  }

  span {
    padding: 0 20px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    color: $orange;
  }

  label {
    color: $green;
  }

 }

.forgot {
  cursor: pointer;
  transition: all 200ms linear;
  color: $orange;
}

.forgot:hover {
  text-decoration: none;
  color: $pink;
}

.section {
  position: relative;
  width: 100%;
  display: block;
}

.full-height {
  min-height: 100vh;
}

.switch {
  position: relative;
  display: inline-block;
  width: 90px;
  height: 26px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $green;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: #eeedf0;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: $orange;
}

input:focus + .slider {
  box-shadow: 0 0 1px $orange;
}

input:checked + .slider:before {
  -webkit-transform: translateX(64px);
  -ms-transform: translateX(64px);
  transform: translateX(64px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
 .btn-log {
   color: $green;
   background: $orange;
 }

 .btn-log:hover {
   background: $pink;
   transition: 0.2s ease-in;
 }

 .btn-sign {
   color: $light-gray;
   background: $green;
 }

 .btn-sign:hover {
   color: $green;
   background: $light-green;
   transition: 0.2s ease-in;
   text-decoration: unset;
 }

 .center-wrap {
   width: 350px;
   margin: 0 auto;
   border-radius: 30px;
   padding: 20px 0;
 }

 .front {
   background-color: $green;
 }

 .back {
   background-color: $orange;
 }

 .sign-background {
   background: linear-gradient(41deg, #010101 0%, #255e29 63%);
 }

 .wrong {
   background-color: red;
 }

.right {
  background-color: seagreen;
}

.password-forgot {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.card-3d-wrapper {
  margin: 30px;
}
