.navbar {
  width: 100%;
  cursor: pointer;
  background: $light-gray;
  min-height: 90px;
}

.navbar__item {
  width: auto;
  height: auto;
  margin: 10px;
  overflow: hidden;
  font-weight: bold;
  letter-spacing: 25px;
  color: $green;
  text-decoration: none !important;
  font-size: 30px;
  transition: 0.2s;
}

.navbar__item:hover {
  font-size: 34px;
  color: unset;
  margin: 7px 8px;
  .navbar__icon {
    color: $orange;
  }
}
