body {
  width: 100%;
  background: $orange;
  user-select: none;
}

a {
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: $green;
  letter-spacing: 25px;
}

a:hover {
  font-size: 35px;
  transition: 0.2s;
}

.menu {
  width: 100%;
  cursor: pointer;
  background: $light-gray;
  min-height: 80px;
}

.menu__item {
  width: auto;
  height: auto;
  margin: 10px;
  overflow: hidden;
}

h3 {
  color: $green;
}
