.navbar {
  width: 100%;
  cursor: pointer;
  background: $light-gray;
  min-height: 92px;
}

.navbar__item {
  width: auto;
  height: auto;
  margin: 10px;
  overflow: hidden;
  font-weight: bold;
  letter-spacing: 25px;
  color: $green;
  text-decoration: none !important;
  font-size: 30px;
  transition: 0.2s;
}

.navbar__item:hover {
  font-size: 34px;
  color: unset;
  margin: 7px 8px;
  .navbar__icon {
    color: $orange;
  }
  .fa-leaf {
    color: $light-green;
  }
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: $green;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;

  a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: $gray;
    display: block;
    transition: 0.3s;
  }

  a:hover {
    color: $light-gray;
  }

  .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  #main {
  transition: margin-right .5s;
  padding: 16px;
}

  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
}
